<h2>Login Form</h2>

<form (submit)="login()">
  <div class="imgcontainer">
    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="email">Email</label>
    <input type="email" placeholder="Enter email" name="email" [(ngModel)]="credentials.email"
      (ngModelChange)="validateRegForm()" required>

    <label for="psw">Password</label>
    <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="credentials.password"
      (ngModelChange)="validateRegForm()" required>

    <div *ngIf="showWarning" class="warning">
      <p>{{ warning }}</p>
    </div>

    <button type="submit" mat-raised-button class="login-btn" mat-button [disabled]="!formIsValid">Login</button>
    
    <span *ngIf="!rememberMeShowing"><mat-checkbox [(ngModel)]="rememberMe" name="rememberMe" color="warn">Keep me logged in</mat-checkbox></span>
    <span *ngIf="rememberMeShowing" (click)="forgetMe()" style="cursor: pointer">Do not keep me logged in</span>

  </div>

  <div class="container">
    <button mat-button class="cancelbtn" mat-dialog-close>Cancel</button>
    <p class="psw" style="cursor: pointer" (click)="openForgotPasswordDialog()">Forgot password?</p>
  </div>
</form>