<h2>Login Form</h2>

<form action="/action_page.php">
  <div class="imgcontainer">
    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname">Username</label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw">Password</label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        
    <button mat-raised-button class="login-btn">Login</button>
    <!-- <div class="remember">
    <label>Remember Me </label>
     <input type="checkbox" checked="checked" name="remember"><p>Remember Me</p>
    </div> -->
  
        <label><input type="checkbox" name="remember"> Remember me</label>

  </div>

  <div class="container">
    <button mat-button class="cancelbtn">Cancel</button>
    <p class="psw">Forgot <a class="fpwd" href="#">password?</a></p>
  </div>
</form>