<div class="title">
    <p>Featured Products</p>
    <a [routerLink] ="['/product-overview']">See all Products <i class="fas fa-arrow-right"></i></a>
   </div>

<div class="wrapper">
        <div class="card">
            <img class="card-img-top" src="../assets/img/laptop1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Item Name</h5>
              <p class="card-text">Some quick example text</p>
              <div class="row">
                <span>
                  <a href="#" class="btn btn-danger"><i class="fas fa-shopping-cart"></i></a>
                  <a href="#" class="btn btn-primary"><i class="fas fa-heart"></i></a>
                  </span>
                  <p class="price">100 $</p>
                    
                </div>
            </div>
          </div>
          <div class="card">
              <img class="card-img-top" src="../assets/img/laptop1.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Item Name</h5>
                <p class="card-text">Some quick example text</p>
                <div class="row">
                    <span>
                        <a href="#" class="btn btn-danger"><i class="fas fa-shopping-cart"></i></a>
                        <a href="#" class="btn btn-primary"><i class="fas fa-heart"></i></a>
                        </span>
                      <p class="price">100 $</p>
                  </div>
              </div>
            </div>
        <div class="card">
            <img class="card-img-top" src="../assets/img/laptop3.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Item Name</h5>
              <p class="card-text">Some quick example text</p>
              <div class="row">
                  <span>
                      <a href="#" class="btn btn-danger"><i class="fas fa-shopping-cart"></i></a>
                      <a href="#" class="btn btn-primary"><i class="fas fa-heart"></i></a>
                      </span>
                  <p class="price">100 $</p>
            </div>
          </div>
          </div>
          <div class="card">
              <img class="card-img-top" src="../assets/img/pc1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Item Name</h5>
                <p class="card-text">Some quick example text</p>
                <div class="row">
                    <span>
                        <a href="#" class="btn btn-danger"><i class="fas fa-shopping-cart"></i></a>
                        <a href="#" class="btn btn-primary"><i class="fas fa-heart"></i></a>
                        </span>
                      <p class="price">100 $</p>
                  </div>
              </div>
            </div>