<div class="row">
    <div class="col-sm-3">
      <h2>Categories</h2>
      <br>
      <button>Add new category</button>
      <mat-action-list>
        <div *ngFor="let category of categories">
          <button mat-list-item (click)="getSubcategories(category.id)" style="width: 80%; display: inline-block;">
            {{ category.name }} </button>
          <button mat-list-item style="width: 20%; display:inline-block;">DEL</button>
        </div>
      </mat-action-list>
    </div>
    <div class="col-sm-3">
      <h2>Category fields</h2>
      <br>
      <mat-action-list>
        <button mat-list-item (click)="save()" *ngFor="let categoryField of categoryFields"> {{ categoryField.name }}
        </button>
      </mat-action-list>
    </div>
    <div class="col-sm-3">
      <h2>Subcategories</h2>
      <br>
      <mat-action-list>
        <button mat-list-item (click)="getSubcategoryFields(subCategory.subcat_id)"
          *ngFor="let subCategory of subCategories"> {{ subCategory.name }} </button>
      </mat-action-list>
    </div>
    <div class="col-sm-3">
      <h2>Subcategory fields</h2>
      <br>
      <mat-action-list>
        <button mat-list-item (click)="save()" *ngFor="let subCategoryField of subCategoryFields">
          {{ subCategoryField.name }} </button>
      </mat-action-list>
    </div>
  </div>