
<div class="footer-wrapper">
<div class="ftb">
  <div class="footer-container">
    <div class="footer-container__element">
      <h4 class="footer-title">INFORMATION</h4>
    <ul class="footer-items">
      <li class="footer-item"><a href="#">About Us</a></li>
      <li class="footer-item"><a href="#">Customer Service</a></li>
      <li class="footer-item"><a href="#">Advanced Search</a></li>
      <!-- <li class="footer-item"><a href="#">Orders and Returns</a></li>
      <li class="footer-item"><a href="#">Contact Us</a></li> -->
    </ul>
  </div>
  <!-- <div class="footer-container__element">
      <h4 class="footer-title">WHY BUY FROM US</h4>
    <ul class="footer-items">
      <li class="footer-item"><a href="#">About Us</a></li>
      <li class="footer-item"><a href="#">Customer Service</a></li>
      <li class="footer-item"><a href="#">Advanced Search</a></li>
      <li class="footer-item"><a href="#">Orders and Returns</a></li>
      <li class="footer-item"><a href="#">Contact Us</a></li>
    </ul>
  </div> -->
  <div class="footer-container__element">
      <h4 class="footer-title">MY ACCOUNT</h4>
    <ul class="footer-items">
      <li class="footer-item"><a href="#">Sign In</a></li>
      <li class="footer-item"><a href="#">View Cart</a></li>
      <li class="footer-item"><a href="#">My Wishlist</a></li>
      <!-- <li class="footer-item"><a href="#">Track My Order</a></li>
      <li class="footer-item"><a href="#">Help</a></li> -->
    </ul>
  </div>
  <div class="footer-container__element contact-information">
      <h4 class="footer-title">CONTACT</h4>
    <ul class="footer-items">
      <li class="footer-item"><a href="#">+91-123-456789</a></li>
      <li class="footer-item"><a href="#">+00-123-000000</a></li>
      <!-- <li class="footer-item"><h4 class="footer-title">FOLLOW US</h4></li> -->
      <li class="footer-item"><p class="fab fa-linkedin-in"></p><p class="fab fa-twitter"></p><p class="fab fa-skype"></p><p class="fab fa-facebook"></p></li>
    </ul>
   
      
      
  <!-- </div>
    <div class="footer-container__element contact-information">
    <ul class="footer-items">
    <li><h4 class="footer-title">FOLLOW US</h4></li>
    <li><p class="fab fa-linkedin-in"></p><p class="fab fa-twitter"></p><p class="fab fa-skype"></p><p class="fab fa-facebook"></p></li>
    </ul> -->

    <!-- <ul class="footer-items">
        <h4 class="footer-title">FOLLOW US</h4>
        <li class="footer-item"><a href="#">+91-123-456789</a></li>
        <li class="footer-item"><a href="#">+00-123-000000</a></li>
      </ul> -->
  </div>
</div>
</div>
</div>
                          <!-- <mat-toolbar class="footer">

  <h3>Made by Bildit Team</h3>

</mat-toolbar> -->

