
<div class="footer-wrapper">
<div class="ftb">
  <div class="footer-container">
    <div class="footer-container__element">
      <h4 class="footer-title">INFORMATION</h4>
    <ul class="footer-items">
      <li class="footer-item"><a [routerLink] ="['/contact']">Contact Us</a></li>
      <li class="footer-item"><a href="#">Customer Service</a></li>
      <li class="footer-item"><a href="#">Advanced Search</a></li>
    </ul>
  </div>

  <div class="footer-container__element">
      <h4 class="footer-title">MY ACCOUNT</h4>
    <ul class="footer-items">
      <li class="footer-item"><a href="#">Sign In</a></li>
      <li class="footer-item"><a [routerLink] ="['/cart']">View Cart</a></li>
      <li class="footer-item"><a [routerLink] ="['/wishlist']">My Wishlist</a></li>

    </ul>
  </div>
  <div class="footer-container__element contact-information">
      <h4 class="footer-title">CONTACT</h4>
    <ul class="footer-items">
      <li class="footer-item"><a href="#">+91-123-456789</a></li>
      <li class="footer-item"><a href="#">+00-123-000000</a></li>
      <!-- <li class="footer-item"><h4 class="footer-title">FOLLOW US</h4></li> -->
      <li class="footer-item"><p class="fab fa-linkedin-in"></p><p class="fab fa-twitter"></p><p class="fab fa-skype"></p><p class="fab fa-facebook"></p></li>
    </ul>
  </div>
</div>
</div>
</div>

