
.Naslov {
    text-align: -webkit-right;

}

.tabela{
  float: right;
  /* justify-content: space-between; */
}

.tabela1 {
  float: left;

}
/* Structure */
table {
  /* width: 30%; */
  background-color: lightgray;
  /* margin-left: 7%; */
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* .test{
width: 80%;
margin: 0 auto;
} */

.page {
  margin:auto;
}
.container {
  width: 100%;
  margin: auto;
  padding: 0%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15%;
  margin-left: -15%;
}
.col-md-6 {
margin-top: 10%;
text-align: center;
padding-right: 5%;

}
