<div class="row">
<div class="purchase-table">

<h4 class="title purchase">Purchase list</h4>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 purchase-table">

  <!-- Position Column -->
    <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Weight Column -->
    <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> Brand </th>
    <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
  </ng-container>

  <!-- Symbol Column -->
     <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Model </th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<div id="user-profile">
  <div class="user-profile__container">
    <h1 class="user-profile__title"> John Doe </h1>
</div>
  <p class="user-info__data"><i class="fas fa-user"></i>Username</p>
  <p class="user-info__data"><i class="fas fa-key"></i>Password</p>
  <p class="user-info__data"><i class="fas fa-envelope"></i>Email</p>
  <p class="user-info__data"><i class="fas fa-home"></i>Address</p>
  <p class="user-info__data"><i class="fas fa-phone"></i>Phone</p>
  <button class="btn btn-block btn-dark">Edit</button>
</div>

<div class="wishlist-table">

    <h4 class="title wish" >Wish list</h4>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 wishlist-table">

      <!-- Position Column -->
        <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Weight Column -->
        <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef> Brand </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
      </ng-container>

      <!-- Symbol Column -->
         <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Model </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
  </div>

