
.wrapper {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
}

.profile{
  margin-right: 50px;
}

.group{
  display: block;
}
/* 
.first {
  align-content: flex-start;
}

.second {
  align-content: space-between;
  width: 40%;
  margin: 0 auto;
}

.third {
  align-content: flex-end;
} */
@media(max-width:1500px){
  .wrapper{
    width: 80%;
    margin: 0 auto;
  }
}
@media(max-width:1200px) {
  .wrapper {
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
  }
  }

  @media(max-width: 800px){
    .wrapper{
      max-width: 370px;
      margin: 0 auto; 
    }
  }

