
/* *{
    background: red;
} */
.wrapper {
  /* position: absolute;
        left: 0;
        top: 160px;  */
}


.blue-snackbar {
  background: #2196F3;
}

.table-name {
  margin: 0 auto;

  text-align: center;
}

thead>tr>th {
  cursor: pointer;
}

.container {
  width: 400px;
}

img {
  height: 100px;
  width: 100px;
}

.btn {
  border-radius: 0;
  height: 35px;
  font-size: 0.8rem;
}

.btn-primary {
  margin-left: 1px;
  width: 100px;
  background-color:red;
}

.btn-secondary {
  height: 35px;
  width: 100px;
  font-size: 0.8rem;
  margin-bottom: 2px;
  background-color: green;
}

.btns {
  display: block;
}


.table-wish {
  width: 120px;
}

.search-label {
  margin-right: 5px;
}

.search-box {
  width: 350px;
}

.page-number {
  width: 80%;
  margin: 0 auto;
}

@media(max-width: 1150px) {
  .container {
    width: 350px;
  }

  img {
    height: 75px;
    width: 75px;
  }

  .table-wish {
    width: 90px;
  }
}

@media (max-width: 770px) {

  th,
  td {
    font-size: 0.85rem;
    width: 90px;
  }

  .table-wish {

    width: 90px;
  }

  img {
    height: 90px;
    width: 90px;
  }

  .btn {
    border-radius: 0;
    height: 30px;
    font-size: 0.7rem;
    margin-bottom: 1px;
  }

  .fa-sort {
    display: none;
  }
}

@media (max-width: 650px) {

  img {
    height: 80px;
    width: 80px;
  }

  .fa-sort {
    display: none;
  }

}

/*
      @media(max-width: 575px){
        .container {
            width: 250px;
            height: 500px;
          }

          img {
            height: 50px;
            width: 50px;
          }
          .table-item {
            width: 75px;
          }
      } */

