<form class="wrapper">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" id="name" aria-describedby="name">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="email">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Company Name</label>
    <input type="company" class="form-control" id="company-name" aria-describedby="company">
  </div>

  <div class="form-group">
    <label for="subject">Subject</label>
    <textarea class="form-control" id="subject-id" rows="3"></textarea>
  </div>
  
  <button type="submit" class="btn btn-danger">Submit</button>
</form>