

<mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
      <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide"> -->
      <div class="card product">
        <div class="product-img">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" style="width:400px;height:200px;" alt="First slide">
        </div>
        <div class="product-description">
          <h1>CLERANCE SALE</h1>
          <h3>Item Name</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button class="btn btn-danger">Shop Now</button>
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide"> -->
        <div class="product">
          <div class="product-img">
              <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
          </div>
          <div class="product-description">
            <h1>CLERANCE SALE</h1>
            <h3>Item Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <button class="btn btn-danger">Shop Now</button>
          </div>
        </div>
      </mdb-carousel-item> <mdb-carousel-item>
          <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide"> -->
          <div class="product">
            <div class="product-img">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
            </div>
            <div class="product-description">
              <h1>CLERANCE SALE</h1>
              <h3>Item Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button class="btn btn-danger">Shop Now</button>
            </div>
          </div>
        </mdb-carousel-item>
  </mdb-carousel>

  