thead>tr>th {
    cursor: pointer;
}

img{
    height: 120px;
    width: 120px;
}
.btn{
    border-radius: 0;
    height: 35px;
    font-size: 0.8rem;
}

.btn-primary{
    margin-left: 1px;
}

.table-item{
    width: 120px;
}
.search-label{
    margin-right: 5px;
}
.search-box{
    width: 350px;
}
.page-number{
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 770px){
    th, td {
        font-size: 0.85rem;
        width: 90px;
    }

    .table-item {
        width: 90px;
    }

    img{
        height: 90px;
        width: 90px;
    }

    .btn{
        border-radius: 0;
        height: 30px;
        font-size: 0.7rem;
        margin-bottom: 1px;
    }
    .fa-sort{
        display: none;
    }
}

@media (max-width: 650px){

    img{
        height: 80px;
        width: 80px;
    }

    .fa-sort{
        display: none;
    }
    
}