<div class="wrapper">
    <!-- <div class="card"> -->
        <div class="card">
            <img class="card-img-top" src="../assets/img/placeholder.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Item Name</h5>
              <p class="card-text">Some quick example text</p>
              <div class="row">
                  <a href="#" class="btn btn-danger">Add to Cart</a>
                    <p class="price">100 $</p>
                </div>
            </div>
          </div>
      <div class="card">
          <img class="card-img-top" src="../assets/img/placeholder.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Item Name</h5>
            <p class="card-text">Some quick example text</p>
            <div class="row">
                <a href="#" class="btn btn-danger">Add to Cart</a>
                  <p class="price">100 $</p>
              </div>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../assets/img/placeholder.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Item Name</h5>
              <p class="card-text">Some quick example text</p>
              <div class="row">
                  <a href="#" class="btn btn-danger">Add to Cart</a>
                  <p class="price">100 $</p>
            </div>
          </div>
          </div>
          <div class="card">
              <img class="card-img-top" src="../assets/img/placeholder.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Item Name</h5>
                <p class="card-text">Some quick example text</p>
                <div class="row">
                    <a href="#" class="btn btn-danger">Add to Cart</a>
                      <p class="price">100 $</p>
                  </div>
              </div>
            <!-- </div> -->
            </div>