<div class="row" *ngIf="!selectedCategory">
  <div class="col-sm-12">
    Select category first in order to add category fields to it.
  </div>
</div>
<div class="row" *ngIf="selectedCategory">
  <div class="col-sm-12">
    <h2>Add fields to <i>{{ selectedCategory.name }}</i> category</h2>
    <hr>
  </div>
</div>
<div class="row" style="min-width: 600px" *ngIf="selectedCategory">
  <div class="col-sm-5">
    <p>Existing category fields</p>
    <mat-action-list>
      <button mat-list-item *ngFor="let categoryField of categoryFields"> {{ categoryField.name }} </button>
    </mat-action-list>
  </div>
  <div class="col-sm-7">
    <div class="col-sm-12">
      <p>Add Category Fields: </p>
    </div>
    <select class="btn btn-primary" [(ngModel)]="selectedValue" (click)="fetchAllFields()">
      <option *ngFor="let field of allFields" [ngValue]="field">{{ field.name }}</option>
    </select>
    <div class="col-sm-12">
      <button mat-button class="" (click)="saveNewCategoryField()">Save</button>
      <button mat-button class="cancelbtn" mat-dialog-close>Close</button>
    </div>
    <div class="col-sm-12" *ngIf="successMsg">
      <br>
      <p><i>{{ newField }}</i> successfuly saved to {{ selectedCategory.name }}'s fields!</p>
    </div>
  </div>
</div>
<div class="row" *ngIf="selectedCategory">
  <div class="col-sm-12">
    <button class="btn btn-primary" (click)="opetFieldsDialog()">Add Fields</button>
  </div>
</div>