
<div id="user-profile">
  <div class="user-profile__container">
    <h1 class="user-profile__title"> {{user-profile}}</h1>
  </div>
  <p class="user-info__data"><i class="fas fa-user"></i>{{user.username}}</p>
  <p class="user-info__data"><i class="fas fa-key"></i>{{user.password}}</p>
  <p class="user-info__data"><i class="fas fa-envelope"></i>{{user.email}}</p>
  <p class="user-info__data"><i class="fas fa-home"></i>{{user.addressId}}</p>
  <p class="user-info__data"><i class="fas fa-phone"></i>{{user.phone}}</p>
  <button class="btn btn-block btn-dark">Edit</button>
</div>


