

<div id="user-profile">
    <div class="user-profile__container">
      <h1 class="user-profile__title"> John Doe </h1>
  </div>
    <p class="user-info__data"><i class="fas fa-user"></i>Username</p>
    <p class="user-info__data"><i class="fas fa-key"></i>Password</p>
    <p class="user-info__data"><i class="fas fa-envelope"></i>Email</p>
    <p class="user-info__data"><i class="fas fa-home"></i>Address</p>
    <p class="user-info__data"><i class="fas fa-phone"></i>Phone</p>
    <button class="btn btn-block btn-dark">Edit</button>
  </div>
  
  
  
  