
<div id="user-profile">
  <div class="user-profile__container">
    <h1 class="user-profile__title"> {{user.username}}</h1>
  </div>
  <p class="user-info__data"><i class="fas fa-user"></i>username:{{user.username}}</p>
  <p class="user-info__data"><i class="fas fa-key"></i>Password:{{user.password}}</p>
  <p class="user-info__data"><i class="fas fa-envelope"></i>Email:{{user.email}}</p>
  <p class="user-info__data"><i class="fas fa-home"></i>Address:{{user.state}}, {{user.street}}, {{user.street2}},{{user.city}} {{user.zipCode}}, {{user.country}}</p>
  <p class="user-info__data"><i class="fas fa-phone"></i>Phone:{{user.phone}}</p>
  <button class="btn btn-dark">Edit</button>
</div>


