.carousel-caption{
    background: rgba(0, 0, 0, 0.5);
    height: 160px;
}

img{
    height: 520px;
    width: 100%;

}

.view{
   height: 380px;
    width: 100%;
}

.carousel-caption{
    position: relative;
    left: 0;
}

