p{ 
    color: #7F7F7F;
    font-size: 1.2rem;
    vertical-align: middle;

}

.test{
    border: 1px solid red;
    height: 1000px;
}

.title{
    width: 100%;
    display: inline-flex;
    padding: 0 15px;
    padding-bottom: 3px;
    margin: 5px 0;
    border-top: 1px solid #7F7F7F;
    border-bottom: 1px solid #7F7F7F;
    justify-content: space-between;
}

a{
    font-size: 1.2rem;
    text-decoration: none;
}

@media(max-width: 350px){
    p{
        font-size: 1rem;
    }

    a{
        font-size: 1rem;
    }
}