  <!-- <app-slider></app-slider>  -->
 <!-- <app-pokus></app-pokus> -->
  <!--
<hr>
<div class="title">
  <p>New Products</p>
  <a href="#">See all Products <i class="fas fa-arrow-right"></i></a>
</div>
<hr>
  <app-new-products></app-new-products>
  <hr>
  <div class="title">
 <p>Featured Products</p>
 <a href="#">See all Products <i class="fas fa-arrow-right"></i></a>
</div>
<hr> -->
<!-- <app-featured-products></app-featured-products>  -->
<app-profile></app-profile> 
 <!-- <app-item-profile></app-item-profile> -->
 <!-- <app-product-overview></app-product-overview>  -->
 <!-- <app-wishlist-table></app-wishlist-table> -->
  <!-- <app-history-table></app-history-table> -->
 <!-- <app-dummy-component></app-dummy-component> -->
<!-- <app-table></app-table> -->
 <!-- <div class="test"></div> -->
 <!-- <app-contact></app-contact> -->

